$content-width: 800px;
$white: #FFFFFF;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$color-primary: #0048b8;
$color-secondary: #03a9f4;
$link-color: $color-secondary;
$link-hover-color: adjust-hue($link-color, 20);
$heading-font: 'Muli', sans-serif;
$heading-font-color: #555;
$light: #E7EDF4;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
